/* description: 댓글 최상위 박스 */
.comment-list-item-box {
  display: block;
}

/* description: 댓글 작성자 정보 */
.comment-list-item-writer {
  display: flex;
  align-items: center;
}

.comment-list-item-profile {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list-item-proofile-image {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.comment-list-item-writer-nickname {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  
}

.comment-list-item-writer-divider {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 8px;
  font-size: 16px;
  font-weight: 400;
}

.comment-list-item-write-time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* description: 댓글 내용 */
.comment-list-item-comment {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
}